body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3f3878;
  color: white;
}

a {
  color: white;
}

h1 {
  color: white;
}

.header {
  background-color: #242424;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}